


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    width: 500px;
    background-image: url(../images/paard.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
}

div{
    width: 1000px;
    background-color: black;
    color: white;
    opacity: 0.75;
    padding: 70px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40%;
    position: absolute;
	
	left: 50%;
    margin-left: -570px;
	margin-right: auto;
}


img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

h1{
    font-family: 'Montserrat', sans-serif; 
        
}
h2,h3{
    font-family: 'Montserrat', sans-serif; 
}

hr{
    border: 1.5px solid #DE8B6C;
}

a{
    color: #DE8B6C;
}

.ok{ 
    list-style-image: url("../images/if_f-check_256_282474.png");
    
}

.nok{ 
    list-style-image: url("../images/if_Erase_32464.png");
    
}

    /* 
    
    hsla(16, 64, 65, 1); 
    
    #DE8B6C
    
    */

















/* Voeg jouw css hieraan toe */

